* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media print {
  body {
    -webkit-print-color-adjust: exact; /* Permite imprimir cores exatas em navegadores WebKit */
    print-color-adjust: exact; /* Mantém as cores definidas no tema */
    html, body {
      width: 210mm;
      height: 297mm ;
    };
    
  }

  /* Oculta todos os elementos que não são a tabela */
  body * {
    visibility: hidden;
  }
  #printable-area, #printable-area * {
    visibility: visible;
    
  }
  #printable-area {
    /* position: absolute;
    left: 0;
    top: 0; */
    width: 100%;
    
  }
}



body {
  -webkit-font-smoothing: antialiased;
}

body,
input,
textarea,
button {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  outline: none;
}

a {
  text-decoration: none;
}